.side-menu{
  overflow: hidden;
  padding: 10px;
  background: rgb(36, 24, 44);
  color: white;
}

.logo-and-name{
  padding: 10px;
  padding-left: 5px;
}

.side-menu .actions{
  padding: 10px;
  padding-left: 0px;
}

.side-menu .action{
  /* margin: 10px 0px; */
  margin: 5px 0px;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.side-menu .action:hover{
  /* back */
}

div[data-is-selected=true]{
  background: rgba(255, 255, 255, 0.2);
}

.logo{
  filter: grayscale(0);
  width: 50px;
  border-radius: 50%;
}

.logo-and-name{
  display: flex;
  align-items: center;
  gap: 10px;
}

.org-name{
  letter-spacing: -1px;
  font-size: 22px;
}

@media (max-width:450px){
  .logo-and-name{
    display: none;
  }
  .actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  span.text{
    display: none
  }
  div[data-is-selected=true]{
    background: none;
  }
  .side-menu .actions{
    padding: 0px;
  }
}