.user{
    display: flex;
    justify-content: flex-end;
}

.user .user-btn{
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
    background: black;
    border-radius: 20px;
    height: fit-content;
}

.user .login-btn{
    cursor: s;
}

.user .logout-btn{
    cursor: pointer;
    font-weight: normal;
}