@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.main-container{
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
}

.rest-page{
  height: 100vh;
  background: #121212;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  overflow-y: scroll;
}