.player{
    width: 100%;

    padding: 15px;
    box-sizing: border-box;

    padding-top: 0px;
    padding-bottom: 0px;

    background: #282828;
    color: white;

    display: flex;
    gap: 20px;
    align-items: center;
}

.audio-player-wrapper{
    flex: 1;
}

.audio-chapter-name{
    font-weight: bold;
}

@media (max-width:450px){
    .current-audio-info{
        width: 100%;
        gap: 10px;
    }
    .current-audio-info * {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .rhap_container{
        padding: 0px;
    }
    .rhap_progress-section{
        display: none;
    }
    .rhap_controls-section{
        margin-top: none;
    }
    .rhap_volume-controls{
        display: none;
    }
    .rhap_additional-controls{
        display: none;
    }
  }

  .rhap_container {
      background: none!important;
      color: white!important;
  }

  .rhap_time{
      color: white;
  }

  .current-audio-info .audio-chapter-name{
      margin-bottom: 5px;
  }

  .current-audio-info .title{
      margin-top: 0px;
  }