.player {
  width: 100%;

  padding: 15px;
  box-sizing: border-box;

  padding-top: 0px;
  padding-bottom: 0px;

  background: #2d1e38;
  color: white;

  display: flex;
  gap: 20px;
  align-items: center;

  position: fixed;
  bottom: 0px;
  height: 88px;
  width: 100%;
  
  border-top: 1px solid rgba(255,255,255,0.5);
}

.audio-player-wrapper {
  flex: 1;
    display: grid;
    grid-template-columns: 18% 60% 18%;
    gap: 20px;
    align-items: center;
}

.audio-chapter-name {
  font-weight: bold;
}

.rhap_progress-filled {
  background: linear-gradient(45.32deg, #ff45aa 14.7%, #d414f3 77.25%);
}

.rhap_download-progress {
  background:  #FFC3E3;
}

.rhap_container {
  background: none !important;
  color: white !important;
}

.rhap_time {
  color: white;
}

.current-audio-info .audio-chapter-name {
  margin-bottom: 5px;
}

.current-audio-info .title {

      margin-top: 0px;
  }

.audio-player-wrapper{
    display: flex;
    justify-content: center;
}

  .audio-player-wrapper .rhap_container {
    max-width: 500px;
  }

.current-audio-info  .audio-chapter-name{
    max-height: 18px!important;
    overflow: hidden;
}
.current-audio-info  .title{
    max-height: 18px;
    overflow: hidden;
}

@media (max-width:800px){
  .player{
      grid-template-columns: 25% 75%;
  }
  .dummy{
      display: none;
  }
}

@media (max-width:450px){
  .current-audio-info{
      width: 100%;
      gap: 10px;
  }
  .current-audio-info * {
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .rhap_container{
      padding: 0px;
  }
  .rhap_progress-section, .rhap_volume-controls, .rhap_additional-controls{
      display: none;
  }
 .rhap_controls-section{
    margin-top: none!important;
  }
  .player{
      grid-template-columns: 80% 20%;
      bottom: 51px;
      height: 75px;
  }
}